<p>PunchIn-out</p>

<select class="form-control" [(ngModel)]="lang" (change)="changeLang($event.target.value)">
    <option value="en">English</option>
    <option value="ar">Arabic</option>
</select>
<p class="color--main">{{'TEST'|translate}}</p>
